---
---

/*
// Extra small devices (portrait phones, less than 34em)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) { ... }

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { ... }

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { ... }

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { ... }
*/

.donate {
    background: lime;
    color: white;
    padding: 10px;
    display: inline-block;
    box-shadow: 10px 10px 10px orange;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom:20px;
}

.card-text a:link, .card-text a:visited {
    color: black;
    text-decoration: underline;
}

.card-warning a:link, .card-warning a:visited {
    color: white;
    text-decoration: underline;
}

.card-img-top {
  background-size: contain;
}

body {
  position: relative;
  color: #000;
}

#main-nav {
    z-index: 1000;
    background: #fff;
    border: 5px solid #000;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    border-radius: 0;

    a:link, a:visited {
      color: #000;
    }

    .active {
      font-weight: bold;
    }
}

#navbar {
    margin-top:50px;
}

img {
  max-width:100%
}

.sprite {
  display: inline-block;
}

#grid {
  background: url({{site.baseurl}}/img/grid-yellow-bold.png);
}

@media (min-width: 48em) {
  .intro-text {
    margin-top: 150px;
  }
  .page-header {
    min-height:600px;
  }
}

table strong {
  margin-left: 1em;
}

.sprite {
    height: 128px;
    width: 128px;
}

#home {

  background: url({{site.baseurl}}/img/construction-transparent.png), url({{site.baseurl}}/img/home.jpg) center;
  background-size: 300px, cover;
  min-height: 100vh;

  .construction-sign {
    font-family: Arial;
    background: #fff;
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    border: 5px solid black;

    .whats-going-on-here {
      font-weight: 900;
      color: #000;
      text-align: center;
      span {
        display:inline-block;
        transform: scaleX(1.5);
      }
      @media (min-width: 62em) {
        font-size: 54px;
      }
    }

    a:hover {
      text-decoration: none;

      strong {
        text-decoration: underline;
      }
    }

    .black,
    .green,
    .red,
    .blue {
      display: block;
      color: #fff;
      border: 10px solid #fff;
      min-height: 350px;
      a:link, a:visited {
        color: white;
      }
      a:hover, a:active {
        text-decoration: underline;
      }
      h2 {
        font-weight: bold;
        line-height: 1;
        @media (min-width: 62em) {
          font-size: 54px;
        }
      }
    }

    .black {background: black; color: white;}
    .green {background: lime; color: white;}
    .red {background: red; color: white;}
    .blue {background: blue; color: white;}

    .more-info {
      color: #000;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      a:link, a:visited {
        color: blue;
        text-decoration: underline;
      }
    }

    .contact {
      color: blue;
      text-align: center;
      a:link, a:visited {
        color: blue;
        text-decoration: underline;
      }
    }

  }

}

.nav-scroll {
  max-width: 100vw;
  overflow-x: scroll;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

article .jumbotron {
  margin-bottom: 0;
  min-height: 75vh;
  position:relative;
}

.carousel-cell h3 {
  font-weight: bold;
  background: #ff0;
  color: #000;
  display:inline-block;
}

.carousel-cell .lead {
  background: #ff0;
  color: #000;
  padding: 15px;
  position: absolute;
    bottom: 25px;
    right: 25px;
}

#about {
  background: lime;
}

#concept article p {
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
}

#concept article img {
  width: 100%;
}

.gifwall {
  -moz-column-count: 5;
  -moz-column-gap: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0;
  column-count: 5;
  column-gap: 0;
}

#about {
  p {
    font-size: 18px;
  }
  .nav-tabs, .nav-tabs .nav-link.active {
    border-color: darken(lime, 10%);
  }
  a:link, a:visited {
    color: #000;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:hover  {
    background: lime;
    color: #000;
    border-color: darken(lime, 10%);
    border-bottom-color: lime;
  }
  .nav-tabs .nav-link.active {
    font-weight: bold;
  }
}
