{% include header.html %}

<body data-spy="scroll" data-target="#navbar" id="top">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% include nav.html %}

  <article>

    <h1>About</h1>

    <section id="peter-cooper-block-party">
      <h2>Peter Cooper Block Party</h2>

      <section id="block-party-history" style="background: #eee;">
        <div class="jumbotron jumbotron-fluid page-header" style="background: #290a59 url(/img/about/history.jpg) no-repeat;background-size:cover;color:#fff;background-position:center right;">
          <div class="container intro-text">
              <h3 class="display-3 col-sm-6">History</h3>
              <p class="lead col-sm-6">Eum aspernatur voluptates repellat. Consequatur voluptatibus repellendus hic beatae. Alias enim blanditiis expedita. Neque deleniti facilis error rem dolor voluptas assumenda. Dolorem perspiciatis aspernatur consequatur. Sed qui corrupti aut rem.</p>
          </div>
        </div>
        {% include history.html %}
      </section>

      <section id="who-we-are">
        <div class="jumbotron jumbotron-fluid page-header" style="color: #fff; background:url(/img/about/whom.jpg); background-size: cover;background-position:center;">
          <div class="container intro-text">
              <h3 class="display-3 col-sm-6">Who We Are</h3>
              <p class="lead col-sm-6">
                Non council members
                	[???]
                Collab across the school
                Integrated with orientation
                Given the time we're in, it's a time for re-coalescing, getting back on the same page. Broader public understanding, what happened to cooper, what it stands forward, before giving meaningfully. Trying to use this as a marker in time.
                link to crew
              </p>
          </div>
        </div>
      </section>
    </section>

    <section id="under-construction" style="background-color: #ff0;">

      <div class="jumbotron jumbotron-fluid page-header" style="background-color: #ff0; color: #000;">
        <div class="container intro-text">
            <h3 class="display-3 col-sm-6">Under Construction</h3>
            <p class="lead col-sm-6">
              Cooper is under construction.
              We're taking on construction, demolition, rebuilding, and development.
              This year's theme is: "Under Construction: What's Going On Here"
              Construction is something that happens all around us. The area has been in a constant process of demolition and rebuilding.
              A lot has been changing at Cooper and in the neighborhood.
            </p>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid page-header" style="background-color: blue; color: #fff;">
        <div class="container intro-text">
            <p class="display-4">
              Cooper is under construction.
              We're taking on construction, demolition, rebuilding, and development.
              This year's theme is: "Under Construction: What's Going On Here"
              Construction is something that happens all around us. The area has been in a constant process of demolition and rebuilding.
              A lot has been changing at Cooper and in the neighborhood.
            </p>
        </div>
      </div>

      <section id="building-unbuilding">
          {% include slideshow-big.html gallery="Building Unbuilding" %}
        </div>
      </section>

      <section id="astor-renovation">
          {% include slideshow-big.html gallery="Astor Renovation" %}
        </div>
      </section>

      <section id="renderings">
          {% include slideshow-big.html gallery="Renderings" %}
        </div>
      </section>


    </section>

    <section id="whats-going-on-here">
      <h2>What's Going On Here?</h2>
    </section>

  </article>

  <nav id="navbar" class="navbar navbar-fixed-bottom navbar-about">
      <div class="container">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Peter Cooper Block Party</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#peter-cooper-block-party">Peter Cooper Block Party</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#block-party-history">Block Party History</a>
                <a class="dropdown-item" href="#who-we-are">Who We Are</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Under Construction</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#under-construction">Under Construction</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Present</h6>
                <a class="dropdown-item" href="#building-unbuilding">Building/Unbuilding</a>
                <a class="dropdown-item" href="#">Community Response</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">History</h6>
                <a class="dropdown-item" href="#">History</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Vision</h6>
                <a class="dropdown-item" href="#">Repurposing of Space</a>
                <a class="dropdown-item" href="#">Media</a>
                <a class="dropdown-item" href="#">Completion</a>
                <a class="dropdown-item" href="#">Questions</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">What's Going On Here?</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#whats-going-on-here">What's Going On Here?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Information</a>
                <a class="dropdown-item" href="#">Symbols</a>
                <a class="dropdown-item" href="#">Fun</a>
              </div>
            </li>
          </ul>
      </div>
  </nav>

{% include footer.html %}
