{% include header.html %}

<body id="about">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% include nav.html %}

  <article class="container-fluid">
    <section id="about" class="row">
      <div class="jumbotron jumbotron-fluid page-header" style="background: url({{site.baseurl}}/img/about/about.png) no-repeat; background-size: cover;color:#fff;background-position:center;">
        <h3 class="display-3 col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="font-weight: bold;position: absolute; bottom:0;left:0;">About</h3>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 m-t-1 m-b-3">
        <p><strong>The 3rd annual Peter Cooper Block Party</strong> will take place on Saturday, September 3rd. The Block Party is a relatively new tradition of coming together to celebrate, reconnect with eachother, and showcase the ongoing work of the Cooper community.</p>
        <p><a href="http://cooper.edu">The Cooper Union for the Advancement of Science and Art</a> is a college for art, architecture, and engineering, founded in 1859 by Peter Cooper with the mission of providing free education to all. In 2014, the college's then-board and administration controversially implemented tuition for the first time in over 150 years, following decades of financializiation and mismanagement.</p>
        <p>In recent years, the community has galvanized around returning Cooper to an enduring model of free education.</p>
        <p><a class="read-more" href="#history">Read more Block Party history ➟</a></p>
      </div>
    </section>
    <section id="concept" class="row">
      <div class="jumbotron jumbotron-fluid page-header" style="background: url({{site.baseurl}}/img/about/concept.png) no-repeat;background-size: cover;color:#fff;background-position:left bottom;">
        <h3 class="display-3 col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="font-weight: bold;position: absolute; bottom:0;left:0;">Concept</h3>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 m-t-1 m-b-3">
        <p>The theme of this year's Peter Cooper Block Party is a provocation:</p>
        <p><strong>“Under Construction:"</strong></p>
        <p>And a question:</p>
        <p><strong>"What’s Going On Here?”</strong></p>
        <p>2016 marks the completion of a decade’s worth of private and public redevelopments — architectural, financial, and cultural — at and around Cooper and the Astor Place area. This year’s celebration bears witness to the unfolding impact of these changes.</p>
        <p><a class="read-more" href="{{site.baseurl}}/concept">Read more about the Concept ➟</a></p>
      </div>
    </section>
    <section id="why-now" class="row">
      <div class="jumbotron jumbotron-fluid page-header" style="background: url({{site.baseurl}}/img/about/why-now.png) no-repeat;background-size: cover;color:#fff;background-position:left bottom;">
        <h3 class="display-3 col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="font-weight: bold;position: absolute; bottom:0;left:0;">Why Now?</h3>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 m-t-1 m-b-3">
        <p>This year's programming takes on an additional charge: </p>
        <p><strong>Reflecting while in motion.</strong></p>
        <p>Let's! Yet! Both!</p>
        <img class="col-xs-4" src="/img/concept/final_730285930.gif">
        <img class="col-xs-4" src="/img/concept/final_1528755956.gif">
        <img class="col-xs-4" src="/img/about/final_1197621865.gif">
      </div>

    </section>
    <section id="history" class="row">
      <div class="jumbotron jumbotron-fluid page-header" style="background: url({{site.baseurl}}/img/about/history.png) no-repeat;background-size: cover;color:#fff;background-position:left bottom;">
        <h3 class="display-3 col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="font-weight: bold;position: absolute; bottom:0;left:0;">History</h3>
      </div>
      {% include history.html %}
    </section>
    <section id="alumni-awards" class="row">
      <div class="jumbotron jumbotron-fluid page-header" style="background: url({{site.baseurl}}/img/about/alumni-awards.png) no-repeat;background-size: cover;color:#fff;background-position:center;">
        <h3 class="display-3 col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="font-weight: bold;position: absolute; bottom:0;left:0;">Alumni Awards 2016</h3>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 m-t-1 m-b-3">
        <p>The 2016 Alumni Awards ceremony was held in the spring at the Fish House as a way of recognizing notable alumni in a community, while the Block Party is scheduled for the fall to be incorporated with the academic year and freshmen orientation. The Cooper Union Alumni Association Awards Ceremony recognizes alumni achievments across generations and fields of work and study.</p>
        <p>The honorees are recognized below.</p>
        <p><a href="http://cooperalumni.org/cuaa-alumni-awards-2016-invitation/">Alumni Association event page ➟ </a><br>
          <a href="http://www.support.cooper.edu/s/1289/support/interior-hybrid.aspx?sid=1289&gid=1&pgid=1895">Support Cooper recap ➟</a></p>
 <p><strong>Awardees</strong></p>
        <p>The Augustus Saint-Gaudens Award<br>
 <strong>Eric Drooker</strong> A’83</p>
        <p>The Gano Dunn Award<br>
 <strong>Professor Jackie Ying</strong> CHE’87</p>
        <p>The John Q. Hejduk Award<br>
 <strong>Elizabeth O’Donnell</strong> AR’83</p>
        <p>The Peter Cooper Public Service Award<br>
 <strong>Richard Wayne Gnagey</strong> CE’70</p>
        <p>Alumnus of the Year<br>
 <strong>Adrian Burton Jovanovic</strong> BSE’89</p>
        <p>Young Alumna of the Year<br>
 <strong>Kelly Smolar</strong> ME’07/MME’11</p>
      </div>
    </section>
  </article>

{% include footer.html %}
