{% include header.html %}

<body data-spy="scroll" data-target="#navbar" id="top">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% include nav.html %}

  <article>

    {% for section in site.data.about %}

      <section id="{{ section.title | slugify }}" style="{% if section.background-color %}background-color: {{ section.background-color }};{% endif %}">

        {% if section.type == "heading" %}

          <div class="jumbotron jumbotron-fluid page-header" style="
          {% if section.background-color %}background-color: {{ section.background-color }};{% endif %}
          {% if section.background-image %}background-image: url({{ section.background-image }});{% endif %}
          background-size:cover; color: {{ section.color | default: "#fff" }};
          background-position:center right;">
            <div class="container intro-text">
                <h3 class="display-3 col-sm-6">{{ section.title }}</h3>
                <p class="lead col-sm-6">{{ section.lead }}</p>
            </div>
          </div>

        {% elsif section.type == "slideshow" %}

          {% assign gallery = section.title %}
          <div class="carousel" data-flickity data-flickity-options='{ "bgLazyLoad": true, "bgLazyLoad": 1 }'>
            {% for item in site.data.galleries %}
              {% if item.title == gallery %}
                {% for item in item.items %}
                <div class="carousel-cell" data-flickity-bg-lazyload="{{ item.url }}" style="{% if item.background-size %}background-size: {{ item.background-size }};{% endif %}">
                  {% if item.title or item.caption %}
                  <div class="container intro-text">
                      {% if item.title %}<h3 class="display-3">{{ item.title }}</h3>{% endif %}
                      {% if item.title %}<br><h3>{{ forloop.length }} images</h3>{% endif %}
                  </div>
                  {% if item.caption %}<div class="lead">{{ item.caption }}</div>{% endif %}
                  {% endif %}
                </div>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>

        {% elsif section.type == "include" %}

          {% include {{ section.include }} %}

        {% elsif section.type == "text" %}

          <div class="jumbotron jumbotron-fluid page-header" style="background-color: {{ section.background-color | default: "#000 }}; color: {{ section.color | default: "#fff" }};">
            <div class="container intro-text">
                <p class="display-4">
                  {{ section.text }}
                </p>
            </div>
          </div>

        {% endif %}

      </section>

    {% endfor %}

  </article>

  <nav id="navbar" class="navbar navbar-fixed-bottom navbar-about">
      <div class="container">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Peter Cooper Block Party</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#peter-cooper-block-party">Peter Cooper Block Party</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#block-party-history">Block Party History</a>
                <a class="dropdown-item" href="#who-we-are">Who We Are</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Under Construction</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#under-construction">Under Construction</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Present</h6>
                <a class="dropdown-item" href="#building-unbuilding">Building/Unbuilding</a>
                <a class="dropdown-item" href="#">Community Response</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">History</h6>
                <a class="dropdown-item" href="#">History</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Vision</h6>
                <a class="dropdown-item" href="#">Repurposing of Space</a>
                <a class="dropdown-item" href="#">Media</a>
                <a class="dropdown-item" href="#">Completion</a>
                <a class="dropdown-item" href="#">Questions</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">What's Going On Here?</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#whats-going-on-here">What's Going On Here?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Information</a>
                <a class="dropdown-item" href="#">Symbols</a>
                <a class="dropdown-item" href="#">Fun</a>
              </div>
            </li>
          </ul>
      </div>
  </nav>

{% include footer.html %}
