{% include header.html %}

<body id="concept" style="background: lime;">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% include nav.html %}

  <article class="container-fluid">

    <section class="row">
      <h1 class="display-4 col-xs-12 m-t-3" style="font-weight: bold; color: #fff;">UNDER CONSTRUCTION:<br>
        What&apos;s Going On Here?</h1>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Development, construction, demolition, re-development, re-construction, re-demolition, un-re-development, re-un-construction, de-un-remolition...</p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/whats-going-on-here.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Amidst the dust, it's hard to know what's going on here.</p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/here.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>The map is not the territory? When the target becomes the measure it ceases to become a good measure?</p>

        <p>Map? Territory? Measure? Target?</p>

        <p>My <a href="">[amount.heavy.stone]</a> absorbs me with what it does not reveal!</p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/quantum.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>
          ...dirt...<br>
          ...sand...<br>
          ...glass...<br>
          ...clouds...<br>
          ...cloud...<br>
          ...clod...<br>
          ...dirt...
        </p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/quarry.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>"A freestanding structure,
an island unto itself."</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/model.png">
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/fatamorgana.gif" class="m-y-3">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Front, back.</p>
      </div>
      <div class="col-xs-12 p-y-3" style="background:url({{site.baseurl}}/img/construction-transparent.png) 200px; text-align: center;">
        <iframe class="m-a-3" width="1280" height="720" src="https://www.youtube.com/embed/p63OR1A_z-0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Building, unbuilding.</p>
      </div>
      <div class="col-xs-12 p-a-0">
        {% include slideshow-big.html gallery="Building Unbuilding" %}
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>It's always been under construction. <a href="">[Link to timeline]</a>. Empty greathall. Empty elevator. Men stand at the bottom of a brownstone quarry. Large blocks of stone lie in the foreground. Ladders lean against the quarry walls. Cranes and frame buildings are at the top of the quarry.</p>
        <p>This is just temporary. This won't be here for long. The fluoresence distracts.</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/symbols.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Somebody is developing pavillions for neo-flaneur renderings. Whom? Who do these human-scale LED free-WiFi surveillance automaton streetlamps and waterfountains serve and who do they protect?</p>
      </div>
      <div class="col-xs-8 offset-xs-2">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/humanscale.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>There's a feeling that it'll bring closure but it's never complete.</p>
        <p>What does a render see? Into the head? Down into the heart?</p>
        <p>What does a render-er see?</p>
      </div>
      <div class="col-xs-12 p-a-0">
        {% include slideshow-big.html gallery="Renderings" %}
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>"Construction, infrastructure, economies, finance...symptoms of systems not amenable to direct perception, distributed across space and time with emergent effects irreducible to individual components.</p>
        <p>The way systems work cannot be understood by seeing how their parts work in isolation."</p>
        <p>A type of index could be all that orange.</p>
      </div>
      <div class="col-xs-12 p-y-3" style="background:url({{site.baseurl}}/img/construction-transparent.png) 200px; text-align: center;">
        <div class="m-a-3">
          {% include slideshow-big.html gallery="Astor Renovation" %}
        </div>
        <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3 p-a-3" style="border:10px solid orange; background: lime;">
        <p>Through repitition...we see and become change.</p>
        </div>
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Maintenance becomes us, being becoming.</p>
      </div>
      <div class="col-xs-6 offset-xs-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/enshrined.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>"Nothing is permanent. You will be able to see the ice melt in the next few days. If you walk through the next millennia, you could see buildings disappear as well."</p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/melt.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Regarding the occasion—why now?</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/hammons.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Community planning surveys can't account for...</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/skaters.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>The course of action is unfathomable!</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/mosaic.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>How can we reflect without stopping the current?</p>
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/bluedress.png">
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>Imagine the blue dress.</p>
        <p>Nonstop construction, construction nonstop, everlasting intensity of desire that could never be explained.</p>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/waterpark.png">
      </div>
      <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 m-y-3">
        <p>A cart drawn by two oxen is near a crane, presumably used for loading stone. Leafless trees line the Connecticut River in the background. Brownstone industry.</p>
      </div>
      <div class="col-xs-4 offset-xs-4 m-y-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/buildingwithoutaprogram.png">
      </div>
      <img class="lazyload" data-src="{{site.baseurl}}/img/concept/stonepixel.png">
      <div class="gifwall">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_56378808.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_67713846.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_171092668.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_517427149.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1298371231.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_405988551.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_730285930.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt1.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1528755956.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_529751450.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_136872067.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_833323528.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_322701720.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_929407419.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1149176182.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt2.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1295954093.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_954247661.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_663388979.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_776047378.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_346932433.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1571266266.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt3.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_799263638.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_584825134.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_396326805.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_292389327.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1585766020.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/dad.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_566203568.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_655657964.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1434809855.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1418974668.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1635495877.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_694338466.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt4.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1836078407.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1412510126.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1651586707.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1906563779.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1678619829.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt5.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1964316153.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1736006431.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_2132428844.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_2146068736.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt6.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_389576430.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_677930923.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1144205596.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_1309220613.gif">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/txt7.png" class="p-a-3">
        <img class="lazyload" data-src="{{site.baseurl}}/img/concept/final_2135360088.gif">
      </div>
      <img src="{{site.baseurl}}/img/faces-transparent.png" class="p-a-0 m-a-0">
    </section>
  </article>
  <div class="container-fluid p-a-0 m-a-0" style="background:url({{site.baseurl}}/img/grid-yellow-bold.png);">
    <div class="col-xs-12 p-t-0 m-a-0 p-b-3" style="min-height:50vh;">
    {% for sprite in site.data.faces %}
      <div class="sprite {{ sprite.name | slugify }}" style="background-image:url({{ site.baseurl }}/img/sprites/{{ sprite.name | slugify }}.png);" data-toggle="popover" data-placement="bottom" data-title="{{ sprite.name }} {{ sprite.school }}" data-content="{{ sprite.description }}" data-trigger="hover"></div>
    {% endfor %}
    </div>
  </div>

  <audio controls autoplay style="display:none">
    <source src="{{ site.baseurl }}/work.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

{% include footer.html %}
