{% include header.html %}

    {% include nav.html %}

    <div class="alert alert-warning" role="alert" style="margin-bottom:0;">
        <div class="container">
            <strong>Rescheduled!</strong> Please save our (new) date of Saturday, September 3rd, 2016, from 12pm to 5pm! <a href="http://eepurl.com/b2K5cr">Read more</a> and contact <a href="mailto:petercooperblockparty@gmail.com">petercooperblockparty@gmail.com</a> with any questions or inquiries.
        </div>
    </div>
    
    <div class="jumbotron jumbotron-fluid page-header" style="background-color:#f7acd8; background-image:url({{site.baseurl}}/img/home.jpg); color: #fff;">
        <div class="container intro-text">
            <h3><strong>September 3rd, 2016</strong></h3>
            <h1 class="display-3">Peter Cooper Block Party 2016</h1>
            <p class="lead">Outside the Foundation Building<br> 
            7 East 7th St., New York, NY<br> 
            FREE & PUBLIC</p>
        </div>
    </div>

    <img src="img/savethedate.jpg" style="width:100%;" alt="Peter Cooper Block Party">

    {% include countdown.html %}

{% include footer.html %}