<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Peter Cooper Block Party 2016</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include nav.html %}

        <div class="alert alert-warning" role="alert" style="margin-bottom:0;">
            <div class="container">
                <strong>Calling all volunteers!</strong> Contact <a href="mailto:petercooperblockparty@gmail.com">petercooperblockparty@gmail.com</a> if you'd like to help out on June 5th.
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid" style="min-height:600px; background-color:magenta; color: #fff;">
            <div class="container intro-text">
                <h3><strong>June 5, 2016</strong></h3>
                <h1 class="display-3">Peter Cooper Block Party 2016</h1>
                <p class="lead">Outside the Foundation Building<br> 
                7 East 7th St., New York, NY<br> 
                FREE & PUBLIC</p>
            </div>
        </div>
    <img src="img/savethedate.jpg" style="width:100%;" alt="Peter Cooper Block Party">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
