{% include header.html %}

<body id="home">

{% include nav.html %}

<div class="container">

    <div class="construction-sign p-a-2 m-y-3">
      <div class="row p-x-3">
        <h2 class="whats-going-on-here col-xs-12 p-x-3"><span>What's Going On Here?</span></h2>
      </div>
      <div class="row">
        <div class="black square col-md-6 p-a-2">
          <p>You're invited to the 3rd annual</p>
          <h2>Peter Cooper<br> Block Party</h2>
          <p><strong>Saturday September 3rd, 2016<br> 12pm-5pm</strong></p>
          <p>7 East 7th St., New York, NY<br>
            Outside Cooper Union&apos;s Foundation Building<br>
          </p>
        </div>
        <div class="green square col-md-6 p-a-2">
          <h2><a href="about">1. About</a></h2>
          <h2><a href="concept">2. Concept</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="red col-md-6 p-a-2">
          <h2><a href="featuring">3. Features</a></h2>
        </div>
        <div class="blue square col-md-6 p-a-2">
          <h2><a href="fundraising">4. Fundraising</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 more-info">
          <p>Free &amp; Open To The Public &bull; <a href="https://www.google.com/maps/place/Foundation+Building,+7+E+7th+St,+New+York,+NY+10003/@40.7293483,-73.9926162,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2599ba18bcac7:0xcbd506c87fef476c!8m2!3d40.7293483!4d-73.9904275?hl=en">Map</a> &bull; <a href="https://www.facebook.com/events/114803132265633/">Facebook</a> &bull; <a href="https://www.instagram.com/petercooperblockparty/">Instagram</a></p>
        </div>
      </div>
      <div class="contact">
        <p>Hosted by the <a href="http://cooperalumni.org">Cooper Union Alumni Association</a> and <a href="http://cooper.edu">Cooper Union</a>. Please direct questions and comments about this party to <a href="mailto:petercooperblockparty@gmail.com">petercooperblockparty@gmail.com</a></p>
      </div>
    </div>

</div>
{% include footer.html %}
