{% include header.html %}

<body id="souvenirs">

{% include nav.html %}

<div class="container shop">
<h1 class="display-1 p-y-3">Souvenirs.ly</h1>

  <div class="col-md-3" role="tablist" aria-multiselectable="true">
    <h3>Ever <em>MORE</em> Ways To Shop!</h3>
    <div class="panel panel-default">

      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-gift" aria-hidden="true"></i> Style</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Tired</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Tie-dye</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Post-Ironyard</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">I-beam</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Wearables</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">T-shirt</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Button</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Enamel pin</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Patch</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-trophy" aria-hidden="true"></i> Lifestyle</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ice cube tray</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Robot dog</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Inflatable</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Publications</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Book</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Zine</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Newspaper</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-smile-o" aria-hidden="true"></i> Thingness</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Bauble</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Trinket</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Memorabilia</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Swag</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Trash</span>
        </label>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Epoch</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Gilded Age</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">New Releases</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Coming Soon</span>
        </label>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-btc" aria-hidden="true"></i> Price</h4>

      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Free</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">< $20,000</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-heart-o" aria-hidden="true"></i> Spirit</h4>

      <div class="custom-controls">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Boon</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Wake</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default p-t-2">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Space</h4>

      <div class="custom-controls">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Smooth</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Stubbly</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default p-t-2">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-gear" aria-hidden="true"></i> Frictionless</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Yes</span>
        </label>
      </div>
    </div>

  </div>

  <div class="col-sm-9">

    <div class="card card-inverse m-b-2">
      <img class="card-img" src="https://giant.gfycat.com/HugeOpulentHellbender.gif" alt="Card image">
      <div class="card-img-overlay">
        <h4 class="card-title display-4">Two hundred <br>shades of &ldquo;chill&rdquo;</h4>
        <a href="#" class="btn btn-success m-t-2">Shop this look NOW?!</a>
        <p class="card-text p-t-1"><small>Operators are standing by...</small></p>
      </div>
    </div>

    <hr>

    <h2 class="align-center p-t-1">Movies Recommended For YOU.......</h2>
    <div class="row p-y-1">
      <div class="col-xs-4">
      <div class="card card-inverse card-success text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Mind-Bending Understated Bureaucratic Thrillers</p>
          <footer>
            <small>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
      <div class="col-xs-4">
      <div class="card card-inverse card-info text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Classic Feel-Good Legal Melodrama</p>
          <footer>
            <small>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
      <div class="col-xs-4">
      <div class="card card-inverse card-warning text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Controversial Mockumentary Based On Real Life Events</p>
          <footer>
            <small>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
    </div>

    <hr class="p-y-1">

    <h3 class="text-xs-center m-b-3">Enamel Pins ⤵︎</h3>
    <img class="m-b-1" src="{{site.baseurl}}/img/souvenirs/pins.jpg" alt="Card image">

    <hr>

    <h3 class="text-xs-center m-y-3">⤹ Reusable Baggus </h3>
    <img src="{{site.baseurl}}/img/souvenirs/bag-open.jpg">
    <img src="{{site.baseurl}}/img/souvenirs/baggus.jpg">
    <img class="m-b-1" src="{{site.baseurl}}/img/souvenirs/bag-closed.jpg">

    <hr>

    <h3 class="text-xs-center m-y-3">Reflections II ⤵︎</h3>

    <img src="{{site.baseurl}}/img/souvenirs/reflections-upright.JPG">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-inside-one.jpg">
    <img src="{{site.baseurl}}/img/souvenirs/relfections-inside-two.jpg">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-stack.JPG">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-inside-three.jpg">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-inside-four.JPG">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-one-and-two.jpg">
    <img src="{{site.baseurl}}/img/souvenirs/reflections-two.jpg">

    <hr>

    <h2 class="m-y-3">Coming soon...</h2>

    <h3 class="text-xs-center m-b-3">Gifpop! Lenticular Postcard </h3>

    <h3 class="text-xs-center m-b-3">Buttons</h3>

    <h3 class="text-xs-center m-b-3">Embroidered Cap</h3>

    <h3 class="text-xs-center m-b-3">Legal Zines</h3>

    <h3 class="text-xs-center m-b-3">Posters</h3>

    <small class="p-b-3 align-xs-center">Picked by hand and packed with LOVE!</small>
  </div>


</div>

<style type="text/css">
  .fa {
    margin-right: 5px;
  }
</style>

{% include footer.html %}
