{% include header.html %}

<body id="souvenirs">

{% include nav.html %}

<div class="container">
<h1 class="display-1 p-t-3">Souvenirs</h1>

  <div class="col-md-3" role="tablist" aria-multiselectable="true">
    <h3>Ever <em>MORE</em> Ways To Shop!</h3>
    <div class="panel panel-default">

      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-gift" aria-hidden="true"></i> Style</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Tired</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Tie-dye</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Post-Ironyard</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Wearables</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">T-shirt</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Button</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Enamel pin</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Patch</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-trophy" aria-hidden="true"></i> Lifestyle</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ice cube tray</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Robot dog</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Inflatable</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Publications</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Book</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Zine</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Newspaper</span>
        </label>
      </div>
    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-smile-o" aria-hidden="true"></i> Thingness</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Bauble</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Trinket</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Memorabilia</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Swag</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Trash</span>
        </label>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Epoch</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Gilded Age</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">New Releases</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Coming Soon</span>
        </label>
      </div>
    </div>
    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-btc" aria-hidden="true"></i> Price</h4>

      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Free</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">< $20,000</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-heart-o" aria-hidden="true"></i> Spirit</h4>

      <div class="custom-controls">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Boon</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Wake</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default p-t-2">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Space</h4>

      <div class="custom-controls">
        <label class="custom-control custom-radio">
          <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Smooth</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Stubbly</span>
        </label>
      </div>

    </div>

    <div class="panel panel-default p-t-2">
      <h4 class="panel-heading m-t-2 m-b-1" role="tab" id="headingOne"><i class="fa fa-gear" aria-hidden="true"></i> Frictionless</h4>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Yes</span>
        </label>
      </div>
    </div>

  </div>


  <div class="col-sm-9">
    <h2 class="align-center">Recommended For YOU</h2>
    <div class="row">
      <div class="col-xs-4">
      <div class="card card-inverse card-success text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Mind-Bending Understated Bureaucratic Thrillers</p>
          <footer>
            <small>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
      <div class="col-xs-4">
      <div class="card card-inverse card-info text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Feel-Good Legal Melodrama</p>
          <footer>
            <small>
              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
      <div class="col-xs-4">
      <div class="card card-inverse card-warning text-xs-center p-y-1">
        <blockquote class="card-blockquote">
          <p>Controversial Documentary Based On Real Life Events</p>
          <footer>
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      </div>
    </div>

  </div>

  <h2 class="align-center">Picked by hand and packed with LOVE!</h2>

</div>

<style type="text/css">
  .fa {
    margin-right: 5px;
  }
</style>

{% include footer.html %}
