{% include header.html %}

<body id="thanks">

{% include nav.html %}

<div class="container p-t-3 thanks-content">


<p class="display-4" style="font-weight:900;">
The Block Party 2016 organizers would like to thank <a href="http://cooperalumni.org">The Cooper Union Alumni Association</a> and <a href="http://cooper.edu">The Cooper Union</a>, as well as our...
</p>
<div class="col-sm-12 text-xs-center">
  <mark>Sponsors</mark>
</div>
<div class="col-sm-12 text-xs-center">
  <div class="col-sm-6">
    <ul class="list-unstyled m-t-1 m-b-2">
      <li class="m-b-1"><strong>Balloons</strong> <br> Mina Greenstein</li>
      <li class="m-b-1"><strong>Buttons + Pins</strong> <br>Christine Moh / Artifactuality</li>
      <li class="m-b-1"><strong>Enamel Pins</strong> <br> Scott Lerman</li>
      <li class="m-b-1"><strong>Event Insurance</strong> <br> Susan Shaw of Susan Shaw Design and Jack Freeman of JSFreemanAssociates</li>
      <li class="m-b-1"><strong>GIF Postcards</strong> <br> <a href="http://gifpop.io/">Gifpop!</a></li>
      <li class="m-b-1"><strong>Info Tables</strong> <br> Robert Tan</li>
      <li class="m-b-1"><strong>Info Zines</strong> <br> Ling Wei Chang and Sangamithra Iyer</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-unstyled m-t-1 m-b-2">
      <li class="m-b-1"><strong>Reusable Baggus</strong> <br> CUAA and Cooper Union Student Affairs and 2016 Orientation</li>
      <li class="m-b-1"><strong>Sidewalk Chalk</strong> <br> Ms. Claudia Giordano, Chicago Alumni, and Tara Incantalupo</li>
      <li class="m-b-1"><strong>Silkscreened T-Shirts</strong> <br> Darrell Low EE’89</li>
      <li class="m-b-1"><strong>Stage</strong> <br> Construction Specifications Institute, Metropolitan New York Chapter</li>
      <li class="m-b-1"><strong>Student DJs + A/V</strong> <br> Josephine Halvorson</li>
      <li class="m-b-1"><strong>Student Performances</strong> <br> Mary K. Lynch
    </ul>
  </div>
</div>
<div class="col-sm-12 text-xs-center m-t-3">
  <mark>Donors</mark>
  <ul class="list-unstyled list-inline m-t-1 m-b-2">
    <li class="list-inline-item">Alexis Lenza</li>
    <li class="list-inline-item">Christine Flohr</li>
    <li class="list-inline-item">Gary Kazin</li>
    <li class="list-inline-item">James Liubicich</li>
    <li class="list-inline-item">Kelly Occhiuzzo Zack</li>
    <li class="list-inline-item">Michael Borkowsky</li>
    <li class="list-inline-item">Nils Anderson</li>
    <li class="list-inline-item">Sean Cusack</li>
    <li class="list-inline-item">Shankar Venkataraman</li>
  </ul>
</div>

<div class="col-xs-12 text-xs-center m-y-3">
  <mark>Participants + Performers</mark>
  <ul class="list-unstyled list-inline m-t-1 m-b-3">
    <li class="list-inline-item">Alex Tomlinson</li>
    <li class="list-inline-item">Alexa West</li>
    <li class="list-inline-item">Alfred Dudley</li>
    <li class="list-inline-item">Alice Sparkly Kat</li>
    <li class="list-inline-item">Alyssa Davis</li>
    <li class="list-inline-item">Asante Mills</li>
    <li class="list-inline-item">Barry Drogin</li>
    <li class="list-inline-item">Carol Salomon</li>
    <li class="list-inline-item">Chris Chamberlin</li>
    <li class="list-inline-item">Claudia Giordano</li>
    <li class="list-inline-item">David Robbins</li>
    <li class="list-inline-item">Ell Ectricity</li>
    <li class="list-inline-item">Emily Adamo</li>
    <li class="list-inline-item">Emma Faith Hill</li>
    <li class="list-inline-item">Hunter Mayton</li>
    <li class="list-inline-item">Jasper Marsalis</li>
    <li class="list-inline-item">Julian Mayfield</li>
    <li class="list-inline-item">Julie Castelluzzo</li>
    <li class="list-inline-item">Kelly Ochiuzzo Zack</li>
    <li class="list-inline-item">Kelsey Mitchell</li>
    <li class="list-inline-item">Laura Spinner</li>
    <li class="list-inline-item">Marina Gutierrez</li>
    <li class="list-inline-item">Miles Barber</li>
    <li class="list-inline-item">Moises Sanabria</li>
    <li class="list-inline-item">Peter Buckley</li>
    <li class="list-inline-item">Pranav Joneja</li>
    <li class="list-inline-item">Rebecca Poch</li>
    <li class="list-inline-item">Sebastien Charles</li>
    <li class="list-inline-item">Toby Cumberbatch</li>
  </ul>
</div>

<hr>

<div class="col-sm-6 text-xs-center m-b-3">
  <mark>Co-Organizers</mark>
  <p class="m-t-1 m-b-3">✨ <strong>Victoria Sobel</strong> and <strong>Casey Gollan</strong> ✨</p>

  <mark>Crew</mark>
  <ul class="list-unstyled m-t-1 m-b-3">
    <li><strong>Anton Luz</strong> ✨ Coordination</li>
    <li><strong>Jacob Biernat</strong> ✨ Construction and Transportation</li>
    <li><strong>Jacob Lurks</strong> ✨ Audio and Video</li>
    <li><strong>Julie Harris</strong> ✨ Graphic Design</li>
    <li><strong>Maja Griffin</strong> ✨ MVP of Special Events</li>
    <li><strong>Owen Law</strong> ✨ Design and Production</li>
    <li><strong>Sophia Bennet Holmes</strong> ✨ Photography</li>
    <li><strong>Vincent Hui</strong> ✨ Site Coordination</li>
  </ul>

  <mark>Additional Thanks</mark>
  <ul class="list-unstyled list-inline m-t-1 m-b-3">
    <li class="list-inline-item">Bill Mea</li>
    <li class="list-inline-item">Chris Cloud</li>
    <li class="list-inline-item">David Minder</li>
    <li class="list-inline-item">Digby</li>
    <li class="list-inline-item">Galen Wolfe Pauly</li>
    <li class="list-inline-item">Hallie</li>
    <li class="list-inline-item">Justin Harmon</li>
    <li class="list-inline-item">Katie Blumenkrantz</li>
    <li class="list-inline-item">Kiani</li>
    <li class="list-inline-item">Maya Krtic</li>
    <li class="list-inline-item">Mindy Lang</li>
    <li class="list-inline-item">Carmelo Pizzuto</li>
    <li class="list-inline-item">Bernie</li>
  </ul>
</div>

<div class="col-sm-6 text-xs-center">
  <mark>Volunteers</mark>
  <ul class="list-unstyled list-inline m-t-1 m-b-3">
    <li class="list-inline-item">Ed Abaid</li>
    <li class="list-inline-item">Emily Adamo</li>
    <li class="list-inline-item">Karina Tipton</li>
    <li class="list-inline-item">Margaret Matz</li>
    <li class="list-inline-item">Mina Greenstein</li>
    <li class="list-inline-item">Nils Anderson</li>
    <li class="list-inline-item">Sangu Iyer</li>
    <li class="list-inline-item">Xenia Diente</li>
  </ul>

  <mark>Cooper Union Alumni Association</mark>
  <ul class="list-unstyled m-t-1 m-b-3">
    <li><strong>Alexis Lenza</strong> ✨ Awards Ceremony Committee</li>
    <li><strong>Ciera Lowe</strong> ✨ Communications</li>
    <li><strong>Claudia Giordano</strong> ✨ Council Liason</li>
    <li><strong>Karina Tipton</strong> ✨ Treasurer</li>
    <li><strong>Marcello Ricottone</strong> ✨ Communications</li>
    <li><strong>Nils Anderson</strong> ✨ President</li>
    <li><strong>Sean Cusack</strong> ✨ Treasurer</li>
  </ul>

  <mark>Production Partners</mark>
  <ul class="list-unstyled list-inline m-t-1 m-b-3">
    <li class="list-inline-item">American Button Machines</li>
    <li class="list-inline-item">Baggu</li>
    <li class="list-inline-item">Big Dawg Party Rentals</li>
    <li class="list-inline-item">Broadway Lumber</li>
    <li class="list-inline-item">Dharma Trading Co</li>
    <li class="list-inline-item">Fractured Atlas</li>
    <li class="list-inline-item">Hana Universal</li>
    <li class="list-inline-item">Head Gear Inc</li>
    <li class="list-inline-item">Jam Paper</li>
    <li class="list-inline-item">New York Inflatables</li>
    <li class="list-inline-item">NYC Parks Department</li>
    <li class="list-inline-item"><a href="http://www.printout.nyc/">PrintOut</a></li>
    <li class="list-inline-item">Signature Pins</li>
    <li class="list-inline-item"><a href="http://www.worksinprogressnyc.org/">Works in Progress</a></li>
  </ul>
</div>

<style>

body {
  background: red url({{site.baseurl}}/img/construction-transparent.png);
  animation: animatedBackground 20s linear infinite;
}

.display-4 {
  color: #fff;
}

mark {
  background-color: #fff;
  color: red;
  padding: 5px 10px;
}

.thanks-content {
  font-size: 1.5em;
  color: #fff;
}

.thanks-content a:link, .thanks-content a:visited {
  color: #fff;
  text-decoration: underline;
}

.list-inline:before {
  content: " ✨ ";
}

.list-inline-item:after {
  content: " ✨ ";
}

.display-4 a:link, .display-4 a:visited {
  color: #fff;
}
@keyframes animatedBackground {
	to { background-position: 0 0; }
	from { background-position: 0 100%; }
}
</style>

{% include footer.html %}
