{% include header.html %}

<body id="thanks">

{% include nav.html %}

<div class="container p-t-3 thanks-content">

<p class="display-4">
The Block Party 2016 organizers would like to say <mark>thank you!</mark> to <a href="http://cooperalumni.org">The Cooper Union Alumni Association</a> and <a href="http://cooper.edu">The Cooper Union</a>, and...
</p>
<p class="display-1">
...our <mark>sponsors</mark>...

GIFpop
</p>
<p class="display-2">
...our <mark>donors</mark>...
</p>
<p class="display-3">

...our <mark>partners</mark>...

Fractured Atlas, Fourth Arts Block, Printout.
</p>
<p class="display-4">

<mark>committee</mark>

<mark>crew</mark>

<mark>volunteers</mark>

<mark>participants + performers</mark>
</p>
<p class="display-5">

<mark>special thanks</mark>
</p>

</div>

<style>
mark {
  background-color: lime;
}
.thanks-content a:link, .thanks-content a:visited {
  color: blue;
  text-decoration: underline;
}
</style>

{% include footer.html %}
